<footer class="footer pt-5 pb-5 text-center">
  <div class="container">
    <div class="socials-media">
      <ul class="list-unstyled">
        {% if site.github_username %}
        <li class="d-inline-block ml-1 mr-1"><a href="https://github.com/{{ site.github_username }}" class="text-dark"><i class="fab fa-github"></i></a></li>
        {% endif %}
      </ul>
    </div>

    <p>© {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved.</p>
    
    <p class="small text-muted">Data Engineering Portfolio</p>
  </div>
</footer>
