---
layout: full-width
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {%- include skills.html -%}
        {%- include projects.html -%}
        {%- include timeline.html -%}
      </div>
    </div>
  </div>
</section>
